<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<header>
			<h1><%=restaurant.name%></h1>
			<nav>
                <a href="/restaurants/<%= restaurant._id %>/edit">Edit</a>
				<ul>
					<li>
						<a href="/restaurants">Home</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<section>
				<ul>
                    <li>Name: <%=restaurant.name%></li>
                    <li>Location: <%=restaurant.location%></li>
				</ul>
            </section>
            <form action="/restaurants/<%= restaurant._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete" />
              </form>
            <section>
                <h2>Dishes</h2>
                <ul>
                  <% restaurant.dishes.forEach(dish => { %>
                  <li>
                    <a href="/dishes/<%= dish._id %>"><%= dish.name %></a>
                  </li>
                  <% }) %>
                </ul>
              </section>
		</main>
	</body>
</html>